In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("StudentGradesAndPrograms.csv")

C:\Users\Muhammad Ramzan LLC\AppData\Local\Temp\ipykernel_11848\1036418622.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv("StudentGradesAndPrograms.csv")

In [3]:
data.head()

,schoolyear,gradeLevel,classPeriod,classType,schoolName,gradePercentage,avid,sped,migrant,ell,student_ID
0,2024-2025,07,1,ELE,West Junior High,2000.0,Y,N,N,N,0HRJHI993
1,2024-2025,07,1,ELE,West Junior High,2000.0,N,N,N,N,CKN322II4
2,2024-2025,07,1,ELE,West Junior High,1950.0,N,N,N,N,V523OZUH8
3,2024-2025,07,1,ELE,West Junior High,1850.0,Y,N,N,N,OJDYS3434
4,2024-2025,07,1,ELE,West Junior High,1500.0,N,N,Y,Y,49RSM3UF6

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200994 entries, 0 to 200993
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   schoolyear       200994 non-null  object
 1   gradeLevel       200994 non-null  object
 2   classPeriod      200994 non-null  object
 3   classType        200994 non-null  object
 4   schoolName       200994 non-null  object
 5   gradePercentage  200994 non-null  float64
 6   avid             200994 non-null  object
 7   sped             200994 non-null  object
 8   migrant          200994 non-null  object
 9   ell              200994 non-null  object
 10  student_ID       200994 non-null  object
dtypes: float64(1), object(10)
memory usage: 16.9+ MB

In [5]:
data.isna().sum()

schoolyear         0
gradeLevel         0
classPeriod        0
classType          0
schoolName         0
gradePercentage    0
avid               0
sped               0
migrant            0
ell                0
student_ID         0
dtype: int64

In [6]:
data.duplicated().sum()

0

In [7]:
data.shape

(200994, 11)

In [8]:
data.columns

Index(['schoolyear', 'gradeLevel', 'classPeriod', 'classType', 'schoolName',
       'gradePercentage', 'avid', 'sped', 'migrant', 'ell', 'student_ID'],
      dtype='object')

In [9]:
data.drop(['student_ID','schoolyear'],inplace=True,axis=1)

In [10]:
data.columns

Index(['gradeLevel', 'classPeriod', 'classType', 'schoolName',
       'gradePercentage', 'avid', 'sped', 'migrant', 'ell'],
      dtype='object')

In [11]:
data.head()

,gradeLevel,classPeriod,classType,schoolName,gradePercentage,avid,sped,migrant,ell
0,07,1,ELE,West Junior High,2000.0,Y,N,N,N
1,07,1,ELE,West Junior High,2000.0,N,N,N,N
2,07,1,ELE,West Junior High,1950.0,N,N,N,N
3,07,1,ELE,West Junior High,1850.0,Y,N,N,N
4,07,1,ELE,West Junior High,1500.0,N,N,Y,Y

In [12]:
data.schoolName.unique()

array(['West Junior High', 'Allfeather Middle School',
       'North Junior High', 'East Junior High',
       'Cloudy Elementary School', 'Hall Elementary School',
       'Maria Flowers Elementary School',
       'Washington Stone Elementary School', 'Gale Elementary School',
       'South Junior High', 'Seaside Elementary School',
       'Rocky Elementary School', 'Sunny Hillside Elementary School',
       'Grand River Elementary School', 'Tulip Beach Elementary School',
       'Online Learning School', 'Leafy Elementary School',
       'Elk Meadow Elementary School', 'Circle Elementary School'],
      dtype=object)

In [13]:
data.classType.unique()

array(['ELE', 'MAT', 'SOC', 'ENG', 'MUS', 'ART', 'SCI', 'MS', 'PE', 'IN'],
      dtype=object)

In [14]:
data.classPeriod.unique()

array([1, 4, 7, 3, 2, 5, 9, 6, 0, 8, 15, '6', '3', '1', '5', '2', '7',
       '4', '8', '9', '0', '3-18', '2-27', '2-17', '15', '12', '4-29',
       '5-30', '14', '18', '17', '19', '16', '3-28', '5-20', '13', '4-19',
       '2-22', '3-23', '4-24', '5-25'], dtype=object)

In [15]:
data.columns

Index(['gradeLevel', 'classPeriod', 'classType', 'schoolName',
       'gradePercentage', 'avid', 'sped', 'migrant', 'ell'],
      dtype='object')

In [16]:
data.gradeLevel.unique()

array(['07', '08', '06', '04', '03', '02', 'KG', '05', '01', 'UE'],
      dtype=object)

In [17]:
data["gradeLevel"]=data["gradeLevel"].apply(lambda x: 10 if x=='KG' else x)
data["gradeLevel"]=data["gradeLevel"].apply(lambda x: 9 if x=='UE' else x)

In [18]:
data.gradeLevel.unique()

array(['07', '08', '06', '04', '03', '02', 10, '05', '01', 9],
      dtype=object)

In [19]:
data['gradeLevel'] = data['gradeLevel'].astype(int)

In [20]:
data.gradeLevel.unique()

array([ 7,  8,  6,  4,  3,  2, 10,  5,  1,  9])

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200994 entries, 0 to 200993
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   gradeLevel       200994 non-null  int32
 1   classPeriod      200994 non-null  object
 2   classType        200994 non-null  object
 3   schoolName       200994 non-null  object
 4   gradePercentage  200994 non-null  float64
 5   avid             200994 non-null  object
 6   sped             200994 non-null  object
 7   migrant          200994 non-null  object
 8   ell              200994 non-null  object
dtypes: float64(1), int32(1), object(7)
memory usage: 13.0+ MB

In [22]:
data.classPeriod.unique()

array([1, 4, 7, 3, 2, 5, 9, 6, 0, 8, 15, '6', '3', '1', '5', '2', '7',
       '4', '8', '9', '0', '3-18', '2-27', '2-17', '15', '12', '4-29',
       '5-30', '14', '18', '17', '19', '16', '3-28', '5-20', '13', '4-19',
       '2-22', '3-23', '4-24', '5-25'], dtype=object)

In [23]:
data = data[(data["classPeriod"] != '3-18') & (data["classPeriod"] != '2-27') & (data["classPeriod"] != '2-17') & (data["classPeriod"] != '4-29') & (data["classPeriod"] != '5-30') & (data["classPeriod"] != '3-28') & (data["classPeriod"] != '5-20') & (data["classPeriod"] != '4-19') & (data["classPeriod"] != '2-22') & (data["classPeriod"] != '3-23') & (data["classPeriod"] != '4-24') & (data["classPeriod"] != '5-25')]

In [24]:
data.classPeriod.unique()

array([1, 4, 7, 3, 2, 5, 9, 6, 0, 8, 15, '6', '3', '1', '5', '2', '7',
       '4', '8', '9', '0', '15', '12', '14', '18', '17', '19', '16', '13'],
      dtype=object)

In [25]:
data['classPeriod'] = data["classPeriod"].astype(int)

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200981 entries, 0 to 200993
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   gradeLevel       200981 non-null  int32
 1   classPeriod      200981 non-null  int32
 2   classType        200981 non-null  object
 3   schoolName       200981 non-null  object
 4   gradePercentage  200981 non-null  float64
 5   avid             200981 non-null  object
 6   sped             200981 non-null  object
 7   migrant          200981 non-null  object
 8   ell              200981 non-null  object
dtypes: float64(1), int32(2), object(6)
memory usage: 13.8+ MB

In [27]:
data["classType"].unique()

array(['ELE', 'MAT', 'SOC', 'ENG', 'MUS', 'ART', 'SCI', 'MS', 'PE', 'IN'],
      dtype=object)

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
LE = LabelEncoder()

In [30]:
data['classType'] = LE.fit_transform(data['classType'])

In [31]:
data['classType'].unique()

array([1, 4, 9, 2, 6, 0, 8, 5, 7, 3])

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200981 entries, 0 to 200993
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   gradeLevel       200981 non-null  int32
 1   classPeriod      200981 non-null  int32
 2   classType        200981 non-null  int32
 3   schoolName       200981 non-null  object
 4   gradePercentage  200981 non-null  float64
 5   avid             200981 non-null  object
 6   sped             200981 non-null  object
 7   migrant          200981 non-null  object
 8   ell              200981 non-null  object
dtypes: float64(1), int32(3), object(5)
memory usage: 13.0+ MB

In [33]:
data["schoolName"].unique()

array(['West Junior High', 'Allfeather Middle School',
       'North Junior High', 'East Junior High',
       'Cloudy Elementary School', 'Hall Elementary School',
       'Maria Flowers Elementary School',
       'Washington Stone Elementary School', 'Gale Elementary School',
       'South Junior High', 'Seaside Elementary School',
       'Rocky Elementary School', 'Sunny Hillside Elementary School',
       'Grand River Elementary School', 'Tulip Beach Elementary School',
       'Online Learning School', 'Leafy Elementary School',
       'Elk Meadow Elementary School', 'Circle Elementary School'],
      dtype=object)

In [34]:
data['schoolName'] = LE.fit_transform(data['schoolName'])

In [35]:
data['schoolName'].unique()

array([18,  0, 10,  3,  2,  7,  9, 17,  5, 14, 13, 12, 15,  6, 16, 11,  8,
        4,  1])

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200981 entries, 0 to 200993
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   gradeLevel       200981 non-null  int32
 1   classPeriod      200981 non-null  int32
 2   classType        200981 non-null  int32
 3   schoolName       200981 non-null  int32
 4   gradePercentage  200981 non-null  float64
 5   avid             200981 non-null  object
 6   sped             200981 non-null  object
 7   migrant          200981 non-null  object
 8   ell              200981 non-null  object
dtypes: float64(1), int32(4), object(4)
memory usage: 12.3+ MB

In [37]:
data['avid'] = LE.fit_transform(data['avid'])

In [38]:
data['avid'].unique()

array([1, 0])

In [39]:
data.head()

,gradeLevel,classPeriod,classType,schoolName,gradePercentage,avid,sped,migrant,ell
0,7,1,1,18,2000.0,1,N,N,N
1,7,1,1,18,2000.0,0,N,N,N
2,7,1,1,18,1950.0,0,N,N,N
3,7,1,1,18,1850.0,1,N,N,N
4,7,1,1,18,1500.0,0,N,Y,Y

In [40]:
data["sped"] = LE.fit_transform(data["sped"])

In [41]:
data.head()

,gradeLevel,classPeriod,classType,schoolName,gradePercentage,avid,sped,migrant,ell
0,7,1,1,18,2000.0,1,0,N,N
1,7,1,1,18,2000.0,0,0,N,N
2,7,1,1,18,1950.0,0,0,N,N
3,7,1,1,18,1850.0,1,0,N,N
4,7,1,1,18,1500.0,0,0,Y,Y

In [42]:
data["migrant"] = LE.fit_transform(data["migrant"])

In [43]:
data.head()

,gradeLevel,classPeriod,classType,schoolName,gradePercentage,avid,sped,migrant,ell
0,7,1,1,18,2000.0,1,0,0,N
1,7,1,1,18,2000.0,0,0,0,N
2,7,1,1,18,1950.0,0,0,0,N
3,7,1,1,18,1850.0,1,0,0,N
4,7,1,1,18,1500.0,0,0,1,Y

In [44]:
data["ell"] = LE.fit_transform(data["ell"])

In [45]:
data.head()

,gradeLevel,classPeriod,classType,schoolName,gradePercentage,avid,sped,migrant,ell
0,7,1,1,18,2000.0,1,0,0,0
1,7,1,1,18,2000.0,0,0,0,0
2,7,1,1,18,1950.0,0,0,0,0
3,7,1,1,18,1850.0,1,0,0,0
4,7,1,1,18,1500.0,0,0,1,1

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200981 entries, 0 to 200993
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   gradeLevel       200981 non-null  int32
 1   classPeriod      200981 non-null  int32
 2   classType        200981 non-null  int32
 3   schoolName       200981 non-null  int32
 4   gradePercentage  200981 non-null  float64
 5   avid             200981 non-null  int32
 6   sped             200981 non-null  int32
 7   migrant          200981 non-null  int32
 8   ell              200981 non-null  int32
dtypes: float64(1), int32(8)
memory usage: 9.2 MB

In [47]:
data["gradePercentage"].unique()

array([2.00e+03, 1.95e+03, 1.85e+03, ..., 2.00e-01, 1.00e-01, 0.00e+00])

In [48]:
data[data["gradePercentage"]>100].value_counts().sum()

3253

In [49]:
GP_rowsdrop = data[data["gradePercentage"]>100].index

In [50]:
data = data.drop(GP_rowsdrop)

In [51]:
data[data["gradePercentage"]>100].value_counts().sum()

0

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 197728 entries, 3253 to 200993
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   gradeLevel       197728 non-null  int32
 1   classPeriod      197728 non-null  int32
 2   classType        197728 non-null  int32
 3   schoolName       197728 non-null  int32
 4   gradePercentage  197728 non-null  float64
 5   avid             197728 non-null  int32
 6   sped             197728 non-null  int32
 7   migrant          197728 non-null  int32
 8   ell              197728 non-null  int32
dtypes: float64(1), int32(8)
memory usage: 9.1 MB

In [53]:
data.isna().sum()

gradeLevel         0
classPeriod        0
classType          0
schoolName         0
gradePercentage    0
avid               0
sped               0
migrant            0
ell                0
dtype: int64

In [54]:
X = data.drop("gradePercentage",axis=1)
X

,gradeLevel,classPeriod,classType,schoolName,avid,sped,migrant,ell
3253,8,0,5,10,1,0,0,0
3254,8,0,5,0,1,1,0,0
3255,8,3,6,0,0,0,0,0
3256,8,2,6,18,1,1,0,0
3257,8,4,0,14,0,0,0,0
...,...,...,...,...,...,...,...,...
200989,6,1,1,18,1,0,0,1
200990,7,3,2,0,1,0,0,0
200991,5,7,9,6,1,0,0,0
200992,4,8,8,8,0,0,1,1
200993,7,2,8,3,0,0,0,1

In [55]:
Y = data["gradePercentage"]
Y

3253      100.0
3254      100.0
3255      100.0
3256      100.0
3257      100.0
          ...
200989      0.0
200990      0.0
200991      0.0
200992      0.0
200993      0.0
Name: gradePercentage, Length: 197728, dtype: float64

In [56]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=0,test_size=0.3)

In [57]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [58]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [59]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [60]:
lr.fit(X_train,Y_train)

LinearRegression()

In [61]:
lr.coef_

array([-2.62031308, -0.82186707,  0.90137001, -0.12970817,  3.68304039,
       -0.49823189, -1.39654536, -0.73042787])

In [62]:
lr.intercept_

80.72681566950126

In [63]:
Y_train_pred = lr.predict(X_train)

In [64]:
pd.DataFrame({'Original_Y_training':Y_train,
               'Predicted Y_train': Y_train_pred})

        Original_Y_training  Predicted Y_train
145170                 75.0          77.302355
81019                  92.5          75.841468
70147                  94.7          85.474321
125431                 81.9          82.872355
131391                 80.0          79.391178
...                     ...                ...
155575                 70.6          89.616237
180225                 51.4          79.136998
121208                 83.1          73.115588
176947                 55.3          82.167260
46820                  98.5          79.216361

[138409 rows x 2 columns]

In [65]:
from sklearn.metrics import mean_squared_error, r2_score

In [66]:
mean_squared_error(Y_train,Y_train_pred)

470.2255746947263

In [67]:
r2_score(Y_train,Y_train_pred)

0.055054720770264076

In [68]:
Y_test_pred = lr.predict(X_test)

In [69]:
pd.DataFrame({'Original_Y_test':Y_test,
               'Predicted Y_test': Y_test_pred})

        Original_Y_test  Predicted Y_test
58304              96.7         76.386741
55933              97.0         77.464775
139514             77.3         76.140192
175211             57.2         82.808047
147847             74.0         77.898672
...                 ...               ...
65009              95.3         74.655905
191699             29.1         80.153621
98665              88.9         77.359655
71356              94.4         76.740961
12869             100.0         78.451074

[59319 rows x 2 columns]

In [70]:
r2_score(Y_test,Y_test_pred)

0.05630933688091744